:root {
    --green: #80c87f;
    --cyan: #1b525c;
    --offwhite: #fffcee;
    --dark: #071026;
    --star: #FFDA84;
    --shadow: #07102630;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    z-index: 5;
}

body {
    background-color: var(--offwhite);
    font-family: sans-serif;
}

/* The layout file */
.navbar,
.navbar a,
.footer,
.footer a {
    color: var(--offwhite);
    background-color: var(--cyan);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.navbar {
    top: 0;
    padding: 0.5svh;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 10;
    align-items: center;
    box-shadow: 0 1svh var(--shadow);
}

.navbar img {
    height: 6svh;
    width: auto;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1svh;
}

.footer a {
    text-decoration: underline;
}

.copyright {
    bottom: 0;
    font-size: x-small;
    text-align: center;
}

.footercontent {
    display: flex;
    flex-direction: row;
    line-height: 100px;
    justify-content: space-evenly;
}

.footercontent line {
    stroke: var(--offwhite);
    stroke-width: 3;
}

.pay {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.payimg img {
    width: 5svh;
    height: auto;
}

/* language picker */
.dropdownLang {
    width: 60px;
    height: 30px;
    border: none;
    color: var(--cyan);
    background-color: var(--green);
    border-radius: 5px;
    box-shadow: 4px 4px var(--shadow);
    font-weight: bold;
    font-size: medium;
}

/* Index page Hero*/
.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* Hero image */
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

/* Text on Hero */
.hero-content {
    font-family: "Monserrat", sans-serif;
    color: var(--cyan);
    text-align: center;
    margin: 8svh;
    z-index: 1;
    padding: 3svh;
    text-shadow: 0.5svh 0.5svh var(--shadow);
}

.hero-title {
    font-size: 10svh;
    font-weight: 600;
    position: relative;
}

.hero-subtitle {
    font-size: 5svh;
    font-weight: 200;
    margin-top: 2.5svh;
    position: relative;
}
/* 404 */
.pageNotfound {
height: 70svh;
width: 100%;
display: flex;
justify-content: center;
padding: 10%;
}

/* General style other pages */
.title {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 2svh;
    text-shadow: 0.5svh 0.5svh var(--shadow);
}

/* Booking form Home */
.bookHome1 {
    background-color: var(--green);
    display: grid;
    justify-content: center;
}

.bookHome2 {
    background-color: var(--cyan);
    color: var(--offwhite);
    z-index: 1;
    border-radius: 5svh;
    height: 10svh;
    width: 50svw;
    display: flex;
    justify-content: space-around;
    padding: 2svh;
    margin: 2svh;
    box-shadow: 1svh 1svh var(--shadow);
}

.startDate,
.endDate,
.peopleAmount {
    display: grid;
    width: 25%;
}

/* information Home*/
.infoHome {
    background-color: var(--green);
    color: var(--cyan);
    height: 100svh;
    width: 100%;
}

.cards {
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
}

.card,
.card2 {
    background-color: var(--cyan);
    color: var(--offwhite);
    padding: 2.5%;
    margin: 5svh;
    border-radius: 5svh;
    height: 60svh;
    width: 25%;
    box-shadow: 2svh 2svh var(--shadow);
}

.card2 {
    margin-top: 30svh;
}

/* Reviews*/
.reviewHome {
    background-color: var(--cyan);
    color: var(--green);
    height: 100svh;
    width: 100%;
    display: grid;
    justify-content: center;
}

.HomeReview {
    display: grid;
    justify-content: center;
}

.bigReview {
    background-color: var(--green);
    color: var(--cyan);
    align-self: center;
    width: 50svw;
    height: 30svh;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.revsHome {
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.revHome,
.revHome2 {
    background-color: var(--green);
    color: var(--cyan);
    height: 30svh;
    width: 30svw;
    margin: 2.5svh;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.revHome2 {
    margin-top: 20svh;
}

/* About*/
.aboutHome {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.aboutHome img {
    height: 75svh;
    width: auto;
    margin: 5svh;
    align-self: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.aboutCard {
    background-color: var(--cyan);
    color: var(--offwhite);
    height: 70svh;
    width: 90svh;
    align-self: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

/* Booking pagina */
.bookForm {
    height: 100svh;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
}

.bookingForm {
    color: var(--cyan);
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;
    margin: 10svh;
}

.bookingForm form {
    display: grid;
}

.bookingForm input[type="text"] {
    background-color: var(--offwhite);
    color: var(--cyan);
    font-size: medium;
    border: none;
    border-radius: 5svh;
    width: 30svw;
    height: 5svh;
}

.map img {
    width: auto;
    height: 80svh;
    margin: 10svh;
    border-radius: 5svh;
}

.submit {
    padding: 2svh;
    margin: 1svh;
    width: 10svw;
    border-radius: 5svh;
    justify-self: center;
    border: none;
    background-color: var(--dark);
    color: var(--offwhite);
    box-shadow: 1svh 1svh var(--shadow);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.submit:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

/* The shopping cart */

#cartBooking {
    display: flex;
    height: 100svh;
    width: 100%;
    justify-content:space-evenly;
}

.bookOptions, .bookCart {
    background-color: var(--green);
    color: var(--cyan);
    height: 70svh;
    width: 40svw;
    display:block;
    text-align: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
    padding: 2svh;
}
.bookOptions {
    overflow-y: scroll;
    overflow-x: hidden;
}