:root {
    --green: #80c87f;
    --cyan: #1b525c;
    --offwhite: #fffcee;
    --dark: #071026;
    --star: #ffda84;
    --shadow: #07102630;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    z-index: 5;
}

body {
    background-color: var(--offwhite);
    font-family: sans-serif;
}

/* The layout file */
.navbar,
.navbar a,
.footer,
.footer a {
    color: var(--offwhite);
    background-color: var(--cyan);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.navbar {
    top: 0;
    padding: 0.5svh;
    display: flex;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    box-shadow: 0 1svh var(--shadow);
}

.navbar img {
    height: 6svh;
    width: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1svh;
}

.footer a {
    text-decoration: underline;
}

.copyright {
    bottom: 0;
    font-size: x-small;
    text-align: center;
}

.footercontent {
    display: flex;
    flex-direction: row;
    line-height: 100px;
    justify-content: space-evenly;
}

.footercontent line {
    stroke: var(--offwhite);
    stroke-width: 3;
}

.pay {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.payimg img {
    width: 5svh;
    height: auto;
}

/* language picker */
.dropdownLang {
    width: 60px;
    height: 30px;
    border: none;
    color: var(--cyan);
    background-color: var(--green);
    border-radius: 5px;
    box-shadow: 4px 4px var(--shadow);
    font-weight: bold;
    font-size: medium;
}

/* Index page Hero*/
.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* Hero image */
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

/* Text on Hero */
.hero-content {
    font-family: "Monserrat", sans-serif;
    color: var(--cyan);
    text-align: center;
    margin: 8svh;
    z-index: 1;
    padding: 3svh;
    text-shadow: 0.5svh 0.5svh var(--shadow);
}

.hero-title {
    font-size: 10svh;
    font-weight: 600;
    position: relative;
}

.hero-subtitle {
    font-size: 5svh;
    font-weight: 200;
    margin-top: 2.5svh;
    position: relative;
}

/* 404 */
.pageNotfound {
    height: 70svh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10%;
}

/* General style other pages */
.title {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 2svh;
    text-shadow: 0.5svh 0.5svh var(--shadow);
}

/* Booking form Home */
.bookHome1 {
    background-color: var(--green);
    display: grid;
    justify-content: center;
}

.bookHome2 {
    background-color: var(--cyan);
    color: var(--offwhite);
    z-index: 1;
    border-radius: 5svh;
    height: 10svh;
    width: 50svw;
    display: flex;
    justify-content: space-around;
    padding: 2svh;
    margin: 2svh;
    box-shadow: 1svh 1svh var(--shadow);
}

.startDate,
.endDate,
.peopleAmount {
    display: grid;
    width: 25%;
}

/* information Home*/
.infoHome {
    background-color: var(--green);
    color: var(--cyan);
    height: 100svh;
    width: 100%;
}

.cards {
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
}

.card,
.card2 {
    background-color: var(--cyan);
    color: var(--offwhite);
    padding: 2.5%;
    margin: 5svh;
    border-radius: 5svh;
    height: 60svh;
    width: 25%;
    box-shadow: 2svh 2svh var(--shadow);
}

.card2 {
    margin-top: 30svh;
}

/* Reviews*/
.reviewHome {
    background-color: var(--cyan);
    color: var(--green);
    height: 100svh;
    width: 100%;
    display: grid;
    justify-content: center;
}

.HomeReview {
    display: grid;
    justify-content: center;
}

.bigReview {
    background-color: var(--green);
    color: var(--cyan);
    align-self: center;
    width: 50svw;
    height: 30svh;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.revsHome {
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.revHome,
.revHome2 {
    background-color: var(--green);
    color: var(--cyan);
    height: 30svh;
    width: 30svw;
    margin: 2.5svh;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.revHome2 {
    margin-top: 20svh;
}

/* About*/
.aboutHome {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.aboutHome img {
    height: 75svh;
    width: auto;
    margin: 5svh;
    align-self: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

.aboutCard {
    background-color: var(--cyan);
    color: var(--offwhite);
    height: 70svh;
    width: 90svh;
    align-self: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
}

/* Booking pagina */
.formContainer {
    height: calc(100svh - (2 * 0.5svh) - 13px);
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formContainer > div{
    width: 40%;
    height: 80vh;
    justify-content: center;
    justify-self: center;
}

.map img {
    height: inherit;
    width: 100%;
    border-radius: 5svh;
}

.bookingForm {
    color: var(--cyan);
    display: grid;
    justify-content: center;
    margin: 10svh;
    background-color: var(--cyan);
    border-radius: 5rem;
}

.bookingForm form {
    display: grid;
    width: 30vw;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

.bookingForm .title {
    color: var(--offwhite);
}

.bookingForm input[type="text"] {
    background-color: var(--cyan);
    color: var(--offwhite);
    font-size: medium;
    border: none;
    border-radius: 1.2rem;
    padding: 1rem;
    height: 3.5rem;
}

form .name {
    display: flex;
    gap: 0.5rem;
}

#firstName {
    width: 40%;
}

#infix {
    width: 20%;
}

#lastName {
    width: 40%;
}

.formInput {
    width: 12rem;
    background: var(--cyan);
    border: none;
    border-radius: 0.55rem;
    padding: 0.75rem;
    color: var(--offwhite);
}

.inlineFormRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--offwhite);
}

.formRow {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--offwhite)
}

.stackedFormRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formRowStack {
    border-radius: 1rem;
    background: var(--offwhite);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.submit {
    /* padding: 0.5rem; */
    width: 100%;
    border-radius: 1rem;
    justify-self: center;
    border: none;
    background-color: var(--dark);
    color: var(--offwhite);
    font-size: 130%;
    box-shadow: 1svh 1svh var(--shadow);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.submit:hover {
    cursor: pointer;
    transform: translateY(-3px);
}


/* The shopping cart */

#cartBooking {
    display: flex;
    height: 100svh;
    width: 100%;
    justify-content: space-evenly;
    padding: 10svh;
}

.bookOptions,
.bookCart {
    background-color: var(--green);
    color: var(--cyan);
    height: 70svh;
    width: 40svw;
    display: block;
    text-align: center;
    border-radius: 5svh;
    box-shadow: 2svh 2svh var(--shadow);
    padding: 2svh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.g-price {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.g-price {
    margin: 8px 0;
}

.containerCart {
    width: 90%;
    max-width: 780px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;
}

.menu-item {
    border-radius: 20px 0 0 20px;
    border-color: var(--cyan);
    margin: 30px 0;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.menu-item img {
    width: 150px;
    position: absolute;
    top: -20px;
    left: -20px;
}

.menu-item .add-button {
    border: none;
    background: var(--cyan);
    padding: 6px 20px 4px;
    border-radius: 20px;
    color: var(--offwhite);
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s;
    align-self: flex-end;
}

.menu-item .add-button:hover {
    background: var(--dark);
}

.menu-item-dets {
    margin-left: 150px;
    padding-bottom: 15px;
}

.menu-item-heading {
    font-size: 18px;
    margin: 10px 0 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(10px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.cart-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--cyan);
    animation: fadeIn 0.3s;
}

.cart-item:last-child {
    border-bottom: 5px solid var(--cyan);
}

.cart-item img {
    width: 65px;
}

.cart-item .g-price {
    font-size: 24px;
}

.cart-item-dets {
    margin-left: 15px;
    width: 100%;
}

.cart-item-heading {
    margin: 10px 0;
}

.cart-math-item {
    margin: 5px 0;
    font-weight: 700;
}

.cart-math-item span,
.cart-math-item button {
    display: inline-block;
    text-align: right;
}
.cart-math-item button {
    text-align: center;
}
.cart-math-item .cart-math-header {
    width: 50%;
}

.cart-math-item .g-price {
    width: 40%;
}
/* Chatbot and chatbox */
.chatbot-toggler {
position: fixed;
bottom: 30px;
right: 35px;
outline: none;
border: none;
height: 50px;
width: 50px;
display: flex;
cursor: pointer;
align-items: center;
justify-content: center;
border-radius: 50%;
background: var(--cyan);
transition: all 0.2s ease;
box-shadow: 2px 2px 2px var(--shadow);
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
color: var(--offwhite);
position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
position: fixed;
right: 35px;
bottom: 90px;
width: 420px;
background: var(--offwhite);
border-radius: 15px;
overflow: hidden;
opacity: 0;
pointer-events: none;
transform: scale(0.5);
transform-origin: bottom right;
box-shadow: 0 0 128px 0 var(--shadow), 0 32px 64px -48px var(--shadow);
transition: all 0.1s ease;
z-index: 20;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
padding: 16px 0;
position: relative;
text-align: center;
color: var(--offwhite);
background: var(--cyan);
box-shadow: 0 2px 10px var(--shadow);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
background: var(--offwhite);
border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
background: var(--offwhite);
border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
width: 32px;
height: 32px;
color: var(--offwhite);
cursor: default;
text-align: center;
line-height: 32px;
align-self: flex-end;
background: var(--cyan);
border-radius: 4px;
margin: 0 10px 7px 0;
}

.chatbox .chat p {
white-space: pre-wrap;
padding: 12px 16px;
border-radius: 10px 10px 0 10px;
max-width: 75%;
color: var(--offwhite);
font-size: 0.95rem;
background: var(--cyan);
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
color: #d10519;
background: var(--dark);
}

.chatbox .incoming p {
color: var(--cyan);
background: var(--green);
}

.chatbot .chat-input {
display: flex;
gap: 5px;
position: absolute;
bottom: 0;
width: 100%;
background: var(--cyan);
padding: 3px 20px;
border-top: 1px solid var(--cyan);
}

.chat-input textarea {
height: 55px;
width: 100%;
border: none;
outline: none;
resize: none;
max-height: 180px;
padding: 15px 15px 15px 0;
font-size: 0.95rem;
background-color: var(--cyan);
color: var(--offwhite);
}

.chat-input span {
align-self: flex-end;
color: var(--offwhite);
cursor: pointer;
height: 55px;
display: flex;
align-items: center;
visibility: hidden;
font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }
}
